<div class="container">
    <label for="input">Sexo</label>
    <input type="text">
    <label for="input">Fecha de Nacimiento</label>
        <div class="date-select">
            <select name="" id="">
                <option value="{{day}}" *ngFor="let day of days" >{{day}}</option>
            </select>
            <select name="" id="">
                <option value="{{month}}" *ngFor="let month of months" >{{month}}</option>
            </select>
            <select type="text" >
                <option value="{{year}}" *ngFor="let year of years" >{{year}}</option>
            </select>
        </div>
    <label for="input">Peso</label>
    <input type="text">   
</div>
